<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>照片墙</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="照片墙"/>
    <meta name="author" content="Codrops"/>
    <link rel="stylesheet" type="text/css" href="${baseUrl}css/photowall/style.css"/>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'/>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
<div class="content">
    <header>
        <h1>WE ARE 伐木累</h1>
        <span>photo wall</span>
    </header>
    <div class="iw_wrapper">
        <ul class="iw_thumbs" id="iw_thumbs">
            <!--<li><img src="images/thumbs/1.jpg" data-img="images/full/1.jpg" alt="Thumb1"/><div><h2>Serenity</h2><p>Far far away, behind the word mountains there live the blind texts.</p></div></li>-->
            <!--<#list imgs as img>-->
            <!--<li>-->
            <!--<img src="${img.thumbsUrl}" data-img="${img.fullUrl}" alt="${img.title}"/>-->
            <!--<div>-->
            <!--<h2>${img.title}</h2>-->
            <!--<p>${img.description}</p>-->
            <!--</div>-->
            <!--</li>-->
            <!--</#list>-->
            <li v-for="img in imgs">
                <img :src="img.thumbsUrl" :data-img="img.fullUrl" :alt="img.title"/>
                <div>
                    <h2>{{img.title}}</h2>
                    <p>{{img.description}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div id="iw_ribbon" class="iw_ribbon">
        <span class="iw_close"></span>
        <span class="iw_zoom">点击关闭</span>
    </div>
</div>

<script type="text/javascript" src="${baseUrl}js/jQuery/jquery.min.js"></script>
<script type="text/javascript" src="${baseUrl}js/jQuery/jquery.masonry.min.js"></script>
<script type="text/javascript" src="${baseUrl}js/jQuery/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="${baseUrl}js/photowall/photowall.js"></script>
</body>
</html>